<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome you, teacher</h1>
<form action="./teacher/find" method="post">
    <input type="username" name="username" th:value="${user.username}" />
    <input type="submit"  value="查看该门课学生信息" >
    <!--        <input th:value=${user.username} type="submit">-->
</form>
<br/>
<form action="./teacher/modify" method="post">
    <input type="username" name="username" th:value="${user.username}" />
    <input type="submit" value="修改课程成绩">
</form>
</body>
</html>